@mixin flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 42.2rem;
  overflow-x: visible;
}

.image {
  border: 0.1rem solid $gray-7;
  border-radius: 0.8rem;
}

.content-wrapper {
  @include flex-column(0);

  justify-content: space-between;
  width: 29.8rem;
  height: 10.4rem;
}

.title-option-wrapper {
  @include flex-column(0.4rem);

  width: 100%;
}

.title-wrapper {
  @include flex-center-space-between;

  width: 100%;
}

.title {
  @include pretendard-16-400;

  color: $black;
}

.button {
  padding: 0.2rem 0;
  border: 0.1rem solid $black;
  background-color: $white;
  color: $black;
}

.option-wrapper {
  width: 100%;
  height: 4.6rem;
  color: $gray-50;
}

.option {
  @include pretendard-16-400;

  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}

.cursor-default {
  cursor: default;
}

.count-price-wrapper {
  @include flex-center-space-between;

  width: 100%;
}

.count {
  @include pretendard-16-400;

  color: $gray-50;
}

.price {
  @include pretendard-16-500;

  color: $black;
}

.tooltip-wrapper {
  visibility: hidden;
  position: absolute;
  z-index: $zindex-tooltip;
  top: 2rem;
}

.tooltip {
  @include pretendard-14-400;

  display: flex;
  flex-wrap: wrap;
  max-width: 52.6rem;
  padding: 1.2rem;
  border-radius: 0.8rem;
  background-color: rgba($color: $black, $alpha: 90%);
  color: $white;
  word-break: keep-all;
  white-space: normal;
}

.tooltip-visible {
  visibility: visible;
}
