.wrapper {
  @include pretendard-20-500;
  @include flex-center;

  position: absolute;
  top: 50%;
  left: 50%;
  width: 34rem;
  height: 12.8rem;
  transform: translate(-50%, -50%);
  animation: fade-in-out 3s forwards;
  border-radius: 1.6rem;
  background-color: rgb(0 0 0 / 70%);
  color: $white;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
