.wrapper {
  @include flex-column(2rem);

  cursor: pointer;
}

.image-wrapper {
  position: relative;
  width: 22.1rem;
  height: 21.3rem;
}

.checkbox-icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  fill: $gray-40;
}

.content-wrapper {
  @include flex-column(0.4rem);
  @include pretendard-18-600;

  width: 22.1rem;
}

.product-name {
  display: -webkit-box;
  height: 5.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.image {
  border: 0.1rem solid $gray-7;
  border-radius: 0.8rem;
}

.checked {
  fill: $primary;
}
