.wrapper {
  @include flex-column(4rem);

  position: relative;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.content-wrapper {
  @include flex-column(1.2rem);

  align-items: center;
}

.title {
  width: 100%;
  @include pretendard-20-600;
}

.button-wrapper {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.button {
  @include flex-center;

  width: 15.4rem;
  height: 6.6rem;
  border: 0.1rem solid $black;
  border-radius: 0.4rem;
  gap: 1rem;
  color: $black;
}

.selected {
  background-color: $primary;

  .button-content {
    color: $white;
  }

  .button-price {
    color: $gray-10;
  }
}

.point-wrapper {
  @include flex-column(1.2rem);

  align-items: center;
}

.point-title-wrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.choosed {
  border-bottom: 0.2rem solid $primary;
  color: $primary;
}

.disabled {
  position: absolute;
  z-index: 4;
  top: 37rem;
  left: -1.2rem;
  width: 35.5rem;
  height: 17.5rem;
  border-radius: 1rem;
  background-color: rgb(256 256 256 / 40%);
}

.tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 32rem;
  padding: 0 0.8rem;
  gap: 1.2rem;
}

.help-wrapper {
  @include flex-column(0.8rem);

  width: 32rem;
  padding: 2rem;
  border-radius: 0.4rem;
  background-color: $gray-5;
}

.help-title {
  @include pretendard-16-500;

  color: $black;
}

.help-content {
  @include pretendard-14-400;

  color: $black;
}

.help-cost {
  @include pretendard-14-400;

  color: $gray-50;
}
