.wrapper {
  @include flex-column(4rem);

  padding-left: 1.5rem;
}

.content-wrapper {
  @include flex-column(1.2rem);
}

.title {
  @include pretendard-20-500;

  width: 41rem;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 41rem;
  gap: 1.2rem;
}

.button {
  &:hover {
    border-color: $primary-60;

    .switch-text {
      color: $white;
    }
  }

  &:focus {
    border-color: $primary;
    background-color: $primary;
  }
}

.switch-text {
  @include flex-center;
  @include pretendard-18-400;

  width: 19.9rem;
  color: $black;
}

.selected {
  color: $white;
}

.help {
  @include flex-column(0.8rem);

  width: 41rem;
  padding: 2rem;
  border-radius: 0.4rem;
  background-color: $gray-5;
  color: $black;
}

.help-title {
  @include pretendard-16-500;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.8rem;
}

.help-content {
  @include pretendard-14-400;
}
