.wrapper {
  @include flex-column(3.7rem);

  position: relative;
  width: 11.2rem;
  height: 17rem;
}

.content-wrapper {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.content-text {
  @include pretendard-14-400;

  stroke: 0.01rem 0.01rem $white;
  user-select: none;
}

.line {
  position: absolute;
  left: 1.6rem;
  height: 3.7rem;
  border-left: 0.1rem dashed $gray-40;
}

.first-line {
  top: 3.2rem;
}

.second-line {
  top: 10.1rem;
}

.completed-line {
  border-color: $primary;
}
