.wrapper {
  @include flex-column(3.7rem);

  position: absolute;
  z-index: $zindex-offcanvas;
  top: 50%;
  left: 4rem;
  width: 9.9rem;
  height: 17rem;
  transform: translateY(-50%);
}

.content-wrapper {
  display: flex;
  align-items: center;
  gap: 11%;
  width: 100%;
  height: 18.8%;
}

.step-button {
  width: 32.2%;
  height: 100%;
}

.content-text {
  @include pretendard-14-400;

  stroke: 0.01rem 0.01rem $white;
  user-select: none;
}

.line {
  position: absolute;
  left: 15.55%;
  height: 22%;
  border-left: 0.1rem dashed $gray-40;
}

.first-line {
  top: 18.8%;
}

.second-line {
  top: 59.5%;
}

.completed-line {
  border-color: $primary;
}
