@mixin flex-column($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

.wrapper {
  @include flex-column(2rem);

  width: 32rem;
  padding-top: 2rem;
  border-top: 0.1rem solid $gray-10;
}

.price-wrapper {
  @include flex-column(0.6rem);
}

.price-title {
  color: $black;
  text-align: right;
  @include pretendard-18-400;
}

.price {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: flex-end;
}

.price-number {
  color: $black;
  @include pretendard-20-600;
}

.price-unit {
  color: $black;

  @include pretendard-16-400;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.2rem;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.4rem;
  height: 6.6rem;
  border: 0.1rem solid $black;
  border-radius: 0.4rem;
  @include pretendard-18-400;
}

.hidden {
  visibility: hidden;
}
