.wrapper {
  @include flex-column(4rem);

  padding-left: 1.5rem;
}

.content-wrapper {
  @include flex-column(1.2rem);
}

.title {
  @include pretendard-20-500;

  width: 41rem;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 41rem;
  gap: 1.2rem;
}

.button {
  @include pretendard-18-400;
  @include flex-column(0);

  width: 19.9rem;
  padding: 0;
  overflow: hidden;

  &:hover {
    .switch-image {
      transform: scale(1.5);
    }
  }
}

.image-wrapper {
  width: 19.9rem;
  height: 11.6rem;
  overflow: hidden;
}

.switch-image {
  transition: transform 1s;
  object-fit: cover;
}

.switch-text {
  @include flex-center;
  @include pretendard-18-400;

  width: 19.9rem;
  padding: 1rem;
  color: $black;
}

.selected {
  background-color: $primary;
  color: $white;
}

.help {
  @include flex-column(0.8rem);

  width: 41rem;
  padding: 2rem;
  border-radius: 0.4rem;
  background-color: $gray-5;
  color: $black;
}

.help-title {
  @include pretendard-16-500;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.8rem;
}

.help-content {
  @include pretendard-14-400;
}
