$gray-00: #1c232f;
$gray-01: #b8b8b8;
$main-01: #587df2;

@mixin button {
  padding: 2rem;
  font-size: 1.8rem;
}

.background-gray-00 {
  @include button;

  background-color: $gray-00;
  color: #fff;
}

.outline-gray-00 {
  @include button;

  border: 1px solid $gray-00;
  background-color: #fff;
  color: $gray-00;
}

.background-main-01 {
  @include button;

  background-color: $main-01;
  color: #fff;
}

.outline-main-01 {
  @include button;

  border: 1px solid $main-01;
  background-color: #fff;
  color: $main-01;
}

.border-4 {
  border-radius: 0.4rem;
}

.border-8 {
  border-radius: 0.8rem;
}
