@mixin background($color) {
  background-color: $color;
  color: #fff;
}

@mixin border($color) {
  border: 0.1rem solid $color;
  background-color: $white;
  color: $color;
}

@mixin hover($color, $type) {
  &:hover {
    transition: all 0.5s ease-in-out;
    @if ($type == 'background') {
      @include background($color);
    } @else if($type == 'outline') {
      @include border($color);
    }
  }
}

.common-style {
  padding: 2rem 4rem;
  font-size: 1.8rem;
}

.background-gray-40 {
  @include background($gray-40);
}

.background-primary {
  @include background($primary);
}

.background-primary-60 {
  @include background($primary-60);
}

.hover-background-gray-40 {
  @include hover($gray-40, 'background');
}

.hover-background-primary {
  @include hover($primary, 'background');
}

.hover-background-primary-60 {
  @include hover($primary-60, 'background');
}

.outline-gray-40 {
  @include border($gray-40);
}

.outline-primary {
  @include border($primary);
}

.outline-primary-60 {
  @include border($primary-60);
}

.hover-outline-gray-40 {
  @include hover($gray-40, 'outline');
}

.hover-outline-primary {
  @include hover($primary, 'outline');
}

.hover-outline-primary-60 {
  @include hover($primary-60, 'outline');
}

.radius-4 {
  border-radius: 0.4rem;
}

.radius-8 {
  border-radius: 0.8rem;
}
