.wrapper {
  @include flex-column(2rem);

  padding: 4rem;
  border-radius: 1.6rem;
  background-color: $white;
}

.title {
  @include pretendard-20-700;

  color: $black;
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.image {
  border: 0.1rem solid $gray-7;
  border-radius: 0.8rem;
}

.information-wrapper {
  @include flex-column(0);

  width: 30rem;
}

.header-name {
  @include pretendard-16-700;

  display: -webkit-box;
  overflow: hidden;
  color: $black;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.header-price {
  @include pretendard-16-500;

  color: $gray-50;
}

.option-wrapper {
  @include flex-column(2rem);
}

.reverse {
  flex-direction: row;
  justify-content: space-between;
}

.count-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 0.8rem;
  background-color: $primary-5;
}

.white-background {
  background-color: $white;
}

.count-title {
  @include pretendard-16-400;

  max-width: 28rem;
  overflow: hidden;
  color: $black;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.price-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: $black;
  gap: 2rem;
}

.price-text {
  @include pretendard-16-500;

  color: $gray-50;
}

.price-number {
  @include pretendard-20-700;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.disabled {
  background-color: $gray-30;
  cursor: default;
}
