$primary: #4968f6;
$primary60: #9af;
$primary20: #e4eeff;
$primary5: #f7faff;
$red: #e72424;
$red80: #f15252;
$red40: #f8a8a8;
$gray50: #787878;
$gray40: #a5a5a5;
$gray20: #d9d9d9;
$gray10: #e4e4e4;
$gray5: #fafafa;
$black: #04002a;
$white: #fff;
