$primary: #4968f6;
$primary-60: #9af;
$primary-20: #e4eeff;
$primary-5: #f7faff;
$red: #e72424;
$red-80: #f15252;
$red-40: #f8a8a8;
$gray-50: #787878;
$gray-40: #a5a5a5;
$gray-30: #c6c6c6;
$gray-20: #d9d9d9;
$gray-10: #e4e4e4;
$gray-7: #f2f2f2;
$gray-5: #fafafa;
$black: #04002a;
$white: #fff;
