$main01: #6583dc;
$main02: #6c3bda;
$sub01: #abb6f9;
$sub02: #d6ddf3;
$sub03: #e2d8f8;
$text-black: #1c232f;
$text-white: #fff;
$text-error: #e72424;
$text-active: #f15252;
$text-placeholder: #a5a5a5;
$text-serve01: #8f8f8f;
$gray00: #1c232f;
$gray01: #b8b8b8;
$gray02: #a5a5a5;
$gray03: #e4e4e4;
$gray04: #d9d9d9;
$back01: #fafafa;
$back02: #eee;
$back03: #f5f5f7;
$back04: #04002a;
