@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin inner {
  max-width: 168rem;
  margin: 0 auto;
  padding: 0 12rem;
}
