.product-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: box-shadow 0.3s ease;
  border-radius: 0.8rem;
  color: $black;
  white-space: wrap;
  gap: 2rem;

  &.sm {
    max-width: 26.4rem;
  }

  &.lg {
    max-width: 40rem;
  }

  &:hover .product-image {
    transform: scale(1.1);
  }
}

.product-image-wrap {
  position: relative;
  width: 100%;
  height: 27.4rem;
  overflow: hidden;
  border: 0.1rem solid #eee;
  border-radius: 0.8rem;
}

.product-image {
  object-fit: cover;
  transition: transform 0.5s ease;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-title {
  @include pretendard-18-600;

  display: -webkit-box;
  height: 5.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-details {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: auto;
}

.product-price {
  @include pretendard-18-400;
}

.product-review-wishlist {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.product-reviews {
  @include pretendard-16-500;
}
