.title-div {
  display: flex;
  gap: 1.2rem;
  align-items: center;

  & > #title {
    @include pretendard-20-600;

    font-weight: bold;
  }

  & > #sub-title {
    @include pretendard-14-400;

    color: $gray-50;
    line-height: 2.2rem;
  }
}

.input-div {
  display: flex;
  gap: 1.2rem;
  width: 100%;
  height: 15.6rem;
  margin-top: 1.2rem;
}

.label-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 0.1rem solid $gray-50;
  border-radius: 0.8rem;
  cursor: pointer;
}

.width-quater {
  width: 16.8rem;
}

.input-image-input {
  display: none;
}

.image-div {
  position: relative;
  width: 16.8rem;
  height: 15.6rem;

  & > #image {
    border-radius: 0.8rem;
  }
}

.delete-image-icon {
  position: absolute;
  top: -1.2rem;
  right: -1.2rem;
  cursor: pointer;
}

.main-image {
  @include pretendard-14-400;

  position: absolute;
  top: 0.8rem;
  left: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  background-color: $gray-50;
  color: $white;
  line-height: 2.2rem;
}
