.title-div {
  display: flex;
  gap: 1.2rem;
  align-items: center;

  & > #title {
    @include pretendard-20-600;

    font-weight: bold;
  }

  & > #sub-title {
    @include pretendard-14-400;

    color: $gray-50;
    line-height: 2.2rem;
  }
}

.input-div {
  display: flex;
  gap: 1.2rem;
  width: 100%;
  height: 15.6rem;
  margin-top: 1.2rem;
}

.label-input {
  @include flex-center;

  width: 100%;
  height: 100%;
  border: 0.1rem dashed $gray-40;
  border-radius: 0.8rem;
  cursor: pointer;
}

.input-image-input {
  display: none;
  width: 100%;
}

.image-div {
  position: relative;
  min-width: 16.8rem;
  height: 15.6rem;

  & > #image {
    border-radius: 0.8rem;
  }
}

.delete-image-icon {
  position: absolute;
  top: -1.2rem;
  right: -1.2rem;
  cursor: pointer;
}

.main-image-tag {
  position: absolute;
  top: 0.8rem;
  left: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  background-color: $primary-20;
  color: $primary;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.2rem;
}
