.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  line-height: 2.4rem;
}

.sub-text {
  margin-bottom: 2rem;
  color: $gray-50;
  font-size: 1.4rem;
}

@mixin keyboard-image($size) {
  @if ($size == 'small') {
    width: 10rem;
    height: 10rem;
  } @else {
    width: 14.3rem;
    height: 14.3rem;
  }

  border-radius: 0.8rem;
  background-color: $gray-20;
}

.keyboard-image-small {
  @include keyboard-image('small');
}

.keyboard-image {
  @include keyboard-image('');
}

.keyboard-info-text {
  width: 54.5rem;

  & > h3 {
    @include pretendard-16-400;

    line-height: 2.4rem;
  }

  & > #products-list {
    font-weight: 700;
  }
}

.options-div {
  @include pretendard-14-400;

  color: $gray-50;
}

@mixin keycap-color($size) {
  display: -webkit-box;
  margin-top: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-box-orient: vertical;

  @if $size == 'small' {
    -webkit-line-clamp: 1;
  } @else {
    -webkit-line-clamp: 2;
  }
}

.keycap-color {
  @include keycap-color('');
}

.keycap-color-small {
  @include keycap-color('small');
}
