.container {
  display: flex;
  gap: 2rem;
  align-items: center;
  line-height: 2.4rem;
}

.sub-text {
  margin-bottom: 2rem;
  color: $gray-50;
  font-size: 1.4rem;
}

.keyboard-image {
  width: 14.3rem;
  height: 14.3rem;
  border-radius: 0.8rem;
  background-color: $gray-20;
}

.keyboard-info-text {
  width: 54.5rem;

  & > h3 {
    @include pretendard-16-400;

    line-height: 2.4rem;
  }

  & > .products-list {
    font-weight: 700;
  }
}

.options-div {
  @include pretendard-14-400;

  color: $gray-50;
}

.keycap-color {
  margin-top: 0.2rem;
  cursor: pointer;
}

.fold-option {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
