.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: max-content;
  padding: 4rem;
  background-color: white;
  border-radius: 1.6rem;
}

.input-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.input {
  height: 4.4rem;
}
