.container {
  @include flex-column(4rem);

  width: 90vw;
  max-width: 78.8rem;
  height: 90vh;
  max-height: 95.5rem;
  padding: 4rem;
  overflow-y: scroll;
  border-radius: 1.6rem;
  background-color: $white;

  &::-webkit-scrollbar {
    display: none;
  }
}

.info-text {
  @include pretendard-14-500;

  margin-bottom: 2rem;
  color: $gray-40;
}

.keyboard-info-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.keyboard-image {
  width: 14.3rem;
  height: 14.3rem;
  overflow: hidden;
  border: 0.1rem solid $gray-20;
  border-radius: 0.8rem;
}

.keyboard-info-title {
  @include pretendard-18-600;

  color: $black;
}

.input-wrapper {
  @include flex-column(2rem);

  width: 100%;
}

.button-wrapper {
  display: flex;
  gap: 1.2rem;
}

.title-input-wrapper {
  position: relative;

  & > .character-limit {
    @include pretendard-16-400;

    position: absolute;
    top: 4.2rem;
    right: 2.2rem;
    color: $gray-40;
  }
}

.text-area-input {
  @include pretendard-14-400;

  width: 100%;
  height: 18.4rem;
  padding: 1rem 1.6rem;
  border: 0.1rem solid $gray-40;
  border-radius: 0.8rem;
  resize: none;

  &::placeholder {
    @include pretendard-16-400;

    color: $gray-40;
    line-height: 2.4rem;
  }

  &:focus {
    outline: none;
  }
}
