.address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  border-radius: 0.8rem;

  .address-textbox {
    @include pretendard-16-500;

    display: flex;
    flex-direction: column;
    color: $gray-50;

    .address-namebox {
      display: flex;
      align-items: center;
      gap: 1.6rem;

      .address-name {
        @include pretendard-18-700;

        color: $black;
        font-weight: bold;
      }
    }
  }
}

.address-default {
  background: $primary-5;
}
