.snb {
  @include flex-column(4rem);

  flex-shrink: 0;
  width: 16.8rem;

  .snb-main {
    @include pretendard-30-700;

    margin-bottom: 2rem;
    font-weight: bold;
  }

  .snb-sections {
    @include flex-column(1.6rem);

    color: $black;
    font-weight: bold;

    .snb-category {
      @include pretendard-20-700;
    }

    .snb-items {
      @include flex-column(1.2rem);
    }

    .snb-item {
      @include pretendard-18-400;

      color: $gray-50;

      &:hover {
        color: $primary-60;
      }
    }

    .selected {
      @include pretendard-18-700;

      color: $primary;
    }
  }
}
