.heart {
  width: 2.33rem;
  height: 2.157rem;
  stroke-width: 3;
  stroke: $red-80;

  &.red-heart {
    fill: $red-80;
  }

  &.white-stroke {
    stroke: $white;
  }
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.33rem;
  height: 4.157rem;
  border-radius: 100%;
  background-color: $gray-10;

  &:hover {
    background-color: $red-40;
  }

  &.red-circle {
    background-color: $red-80;
  }
}

.like-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.7rem;
  height: 4rem;
  border: 0.1rem solid $gray-20;
  border-radius: 30rem;
  gap: 1rem;

  span {
    color: $black;
    font-size: 1.6rem;
  }

  &:hover {
    background-color: $red-40;

    svg {
      fill: $white;
    }

    span {
      color: $white;
    }
  }

  &.red-circle {
    background-color: $red-80;

    span {
      color: $white;
    }
  }
}

.thumb {
  fill: $red-80;

  &.white-thumb {
    fill: $white;
  }
}
