.recent {
  @include flex-column(4rem);

  .recent-title {
    color: $black;
    @include pretendard-20-600;
  }
}

.recent-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem 1.8rem;
  margin-top: 4rem;

  li {
    list-style: none;
  }
}
