.custom-guide {
  @include flex-center;

  flex-direction: column;
  padding-top: 10rem;
  background-color: #f5f5f5;
}

.title {
  @include pretendard-30-700;

  margin-top: 4rem;
  color: $black;
  text-align: center;
}

.sub-title {
  @include pretendard-20-400;

  margin: 0.8rem 0 8rem;
  color: $black;
}

.guide-list {
  @include flex-center;

  flex-direction: column;
  gap: 4rem;
  margin-bottom: 4rem;
}

.button-area {
  @include flex-center;

  width: 32rem;
  margin-top: 4rem;
  padding-bottom: 20rem;
}
