.custom-guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  background-color: #f5f5f5;
}

.title {
  @include pretendard-30-700;

  margin-top: 40px;
  color: $black;
}

.sub-title {
  @include pretendard-20-300;

  margin: 8px 0 80px;
  color: $black;
}

.guide-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.button-area {
  width: 32rem;
  margin-top: 4rem;
  padding-bottom: 20rem;
}
