@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart {
  width: 2.33rem;
  height: 2.157rem;
  stroke-width: 3;
  stroke: $red-80;

  &.red-heart {
    fill: $red-80;
  }

  &.white-stroke {
    stroke: $white;

    &:hover {
      fill: none;
    }
  }

  &:hover {
    fill: $red-80;
  }
}

.circle {
  @include flex-center;

  width: 4.33rem;
  height: 4.157rem;
  border-radius: 100%;
  background-color: $gray-10;

  &.red-circle {
    background-color: $red-80;
  }

  &.blue-circle {
    background-color: $primary;
  }

  &.hover-red:hover {
    background-color: $red-40;
  }

  &.hover-blue:hover {
    background-color: $primary-60;
  }
}

.thumb {
  fill: $red-80;

  &.white-thumb {
    fill: $white;
  }
}

.like-circle {
  @include flex-center;

  width: 7.7rem;
  height: 4rem;
  border: 1px solid $gray-20;
  border-radius: 30rem;
  gap: 1rem;

  span {
    color: $black;
    font-size: 1.6rem;
  }

  &:hover {
    background-color: $red-40;

    .thumb {
      fill: $white;
    }

    .count {
      color: $white;
    }
  }

  &.red-circle {
    background-color: $red-80;

    .count {
      color: $white;
    }
  }
}
