.button-div {
  display: flex;
  position: fixed;
  right: 12rem;
  bottom: 6.4rem;
  align-items: center;
  justify-content: center;
  width: 5.7rem;
  height: 5.7rem;
  border-radius: 30rem;
  background-color: #6c6c6c;
}
