.wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $white;
}

.content-wrapper {
  @include flex-column(0);

  width: 51rem;
  margin-top: 6rem;
}

.option-wrapper {
  height: calc(100vh - 35.4rem);
  margin: 0 0.869rem 2.8rem 3.5rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.931rem;
    border-radius: 0.8rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10rem;
    background-clip: padding-box;
    background-color: $primary;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10rem;
    background-clip: padding-box;
    background-color: $gray-10;
  }

  &::-webkit-scrollbar-thumb:focus {
    background-color: $primary-60;
  }
}

.button-wrapper {
  width: 51rem;
  height: 18.6rem;
  padding: 2rem 5rem;
  border-top: 0.1rem solid $gray-10;
  background-color: $white;
}
