.breadcrumb-list {
  @include pretendard-16-400;

  display: flex;
  align-items: center;
  color: #616161;
  font-size: 1.6rem;
  gap: 0.8rem;

  .arrow-icon {
    rotate: (-90deg);
    fill: #04002a;
  }
}

.current-category {
  color: $black;
  font-weight: 700;
}
