.breadcrumb-list {
  @include pretendard-16-400;
  @include inner;

  display: flex;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 0.4rem;
  color: #616161;
  gap: 0.8rem;

  .arrow-icon {
    rotate: (-90deg);
    fill: $black;
  }
}

.current-category {
  color: $black;
  font-weight: 600;
}
