.breadcrumb-list {
  @include pretendard-16-400;

  display: flex;
  align-items: center;
  color: #616161;
  font-size: 16px;
  gap: 0.8rem;

  .arrow-icon {
    rotate: (-90deg);
  }
}

.current-category {
  color: $black;
  font-weight: 700;
}
