.nav {
  @include pretendard-16-400;

  display: flex;
  align-items: center;
  justify-content: center;
  color: $black;
  gap: 3.4rem;

  .status-box {
    @include flex-column(1.2rem);

    position: relative;
    align-items: center;

    .card-icon {
      width: 4rem;
      height: 4rem;
      padding: 0.8rem;
      border-radius: 100%;
      background-color: $primary;
    }

    .cube-icon {
      width: 4rem;
      height: 4rem;
      padding: 0.8rem;
      border-radius: 100%;
      background-color: $gray-20;
    }
  }
}

.chain {
  position: absolute;
  z-index: -1;
  top: 2rem;
  right: -4.2rem;
  width: 6rem;
  border-bottom: 0.1rem dashed $gray-20;
}
