@keyframes fade-in {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes move-up-down {
  0% {
    transform: translate(0);
  }

  30% {
    transform: translateY(-2rem);
  }

  80% {
    transform: translate(0);
  }
}

.wrapper {
  @include flex-center;

  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  height: calc(100vh - 8rem);
}

.logo {
  overflow: visible;
}

.logo path {
  animation: move-up-down 1.2s forwards infinite;
}

.logo path:nth-child(6) {
  animation-delay: 0.1s;
}

.logo path:nth-child(5) {
  animation-delay: 0.2s;
}

.logo path:nth-child(4) {
  animation-delay: 0.3s;
}

.logo path:nth-child(3) {
  animation-delay: 0.4s;
}

.logo path:nth-child(2) {
  animation-delay: 0.5s;
}

.logo path:nth-child(1) {
  animation-delay: 0.6s;
}
