.wrapper {
  position: relative;
  width: 36.3rem;
  height: 4.2rem;
}

.input-box {
  width: 100%;
  height: 100%;
  padding: 0.8rem 4.4rem 0.8rem 1.2rem;
  border: 0.1rem solid $gray-40;
  border-radius: 0.8rem;
  outline: none;
  background-color: transparent;
  color: $gray-40;
  @include poppins-18-400;
}

.search-button {
  position: absolute;
  top: 0.9rem;
  right: 1.2rem;
  cursor: pointer;
}
