.container {
  width: 100%;
  height: 20rem;
  padding: 2.4rem;
  border-radius: 1.6rem;
  background-color: $gray-5;
}

.title {
  display: flex;
  gap: 0.8rem;

  & > h2 {
    color: $black;
    @include pretendard-16-700;
  }
}

.check-icon {
  cursor: pointer;
}
