.layout {
  display: flex;
  width: 100vw;
  min-width: 112rem;
  height: 100%;
  padding: 10.6rem 12rem 11.2rem 32rem;
  overflow: auto;

  .page {
    width: 100%;
    min-width: 112rem;
    padding: 0 2rem;
  }
}
