@mixin wrapper {
  @include flex-center;

  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
}

.pending-wrapper {
  @include wrapper;
  @include pretendard-14-400;

  background-color: $gray-10;
  color: $white;
}

.current-outside {
  @include wrapper;

  background-color: $primary;
}

.current-inside {
  width: 50%;
  height: 50%;
  border-radius: 0.8rem;
  background-color: $white;
}

.completed-wrapper {
  @include wrapper;

  background-color: $primary;
}
