.container {
  display: flex;
  width: 100%;
  gap: 1.2rem;
}

.profile-image {
  @include flex-center;

  position: relative;
  width: 6.4rem;
  height: 6.4rem;
  overflow: hidden;
  border-radius: 9rem;
  background-color: $gray-20;
}

.content-wrapper {
  @include flex-column(0.4rem);

  width: 100%;
  padding: 0.6rem 0;
}

.user-info-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-info {
  display: flex;
  gap: 1.2rem;

  & > .nickname {
    @include pretendard-16-400;
  }

  & > .time-ago {
    @include pretendard-14-400;

    color: $gray-50;
  }
}

.dot-icon {
  position: relative;
  margin-left: auto;
  cursor: pointer;
}

.content {
  @include pretendard-16-400;
}
