.container {
  @include flex-column(4rem);

  width: 80vw;
  max-width: 72.5rem;
  height: 90vh;
  padding: 4rem;
  border-radius: 1.6rem;
  background-color: $white;
}

.title {
  @include pretendard-30-700;
}

.keyboard-list-wrapper {
  @include flex-column(2rem);

  padding-right: 1rem;
  overflow: hidden scroll;

  &::-webkit-scrollbar {
    width: 0.931rem;
    border-radius: 0.8rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10rem;
    background-clip: padding-box;
    background-color: $primary;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10rem;
    background-clip: padding-box;
    background-color: $gray-10;
  }
}

.keyboard-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 0.8rem;
  cursor: pointer;

  &:hover {
    background-color: $primary-5;
  }
}

.selected-list {
  background-color: $primary-5;
}

.keyboard-image {
  width: 10.4rem;
  height: 10.4rem;
  border: 0.1rem solid $gray-20;
  border-radius: 0.8rem;
}

.keyboard-info-wrapper {
  overflow: hidden;
}

.keyboard-info-title {
  @include pretendard-18-600;

  color: $black;
}
