.container {
  display: flex;
  gap: 2rem;
}

.icon-and-count {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 0.4rem;
  line-height: 2.4rem;

  & > .count {
    width: 2rem;
    padding-top: 0.2rem;
  }
}
