.container {
  display: flex;
  gap: 2rem;
}

.icon-and-count {
  @include pretendard-16-400;

  display: flex;
  align-items: center;
  line-height: 2.4rem;
  gap: 0.5rem;

  & > .count {
    width: 2rem;
    padding-top: 0.2rem;
  }
}
