.filter-write-button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 9.1rem;
  margin-bottom: 12.9rem;
  gap: 10rem 3.3rem;
}
