@mixin flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  @include flex-wrapper;

  width: 100vw;
  padding: 1.9rem 12rem;
  color: #111;
  font-size: 1.8rem;
  line-height: 2.6rem;
  text-decoration: none;
}

.right-wrapper {
  @include flex-wrapper;

  gap: 12rem;
}

.button-wrapper {
  @include flex-wrapper;

  gap: 8rem;
}

.left-wrapper {
  @include flex-wrapper;

  gap: 9.6rem;
}

.status-wrapper {
  @include flex-wrapper;

  gap: 2rem;
}

.logo {
  width: 7.144rem;
  height: 3.2rem;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}
