@mixin flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  @include flex-wrapper;

  width: 100vw;
  height: 8.608rem;
  padding: 0 12rem;
  background-color: #04002a;
  color: $text-white;
  font-size: 1.8rem;
  line-height: 2.6rem;
  text-decoration: none;
}

.right-wrapper {
  @include flex-wrapper;

  height: 100%;
  gap: 12rem;
}

.button-wrapper {
  @include flex-wrapper;

  height: 100%;
  gap: 8rem;
}

.button {
  @include flex-wrapper;

  height: 100%;
}

.left-wrapper {
  @include flex-wrapper;

  height: 100%;
  gap: 9.6rem;
}

.status-wrapper {
  @include flex-wrapper;

  height: 100%;
  gap: 2rem;
}

.logo {
  @include flex-wrapper;

  height: 100%;
}

.icon {
  @include flex-wrapper;

  height: 100%;
}
