@mixin flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.wrapper {
  @include flex-wrapper;
  @include poppins-18-600;

  position: sticky;
  z-index: $zindex-fixed;
  top: 0;
  width: fit-content;
  min-width: 100%;
  height: 8rem;
  padding: 0 12rem;
  background-color: $white;
  color: $gray-50;
  text-decoration: none;

  a:hover,
  button:hover {
    color: $black;
  }
}

.right-wrapper {
  @include flex-wrapper;

  gap: 12rem;
}

.black {
  border-bottom: 0.1rem solid $gray-10;
  background-color: $black;

  a:hover,
  button:hover {
    color: $white;
  }
}

.button-wrapper {
  @include flex-wrapper;

  gap: 4rem;
}

.current-page {
  color: $primary;
}

.left-wrapper {
  @include flex-wrapper;

  gap: 9.6rem;
}

.status-wrapper {
  @include flex-wrapper;

  gap: 2rem;
}

.user-icon {
  height: 3.1rem;
}

.user-white {
  fill: $primary;

  path {
    fill: $white;
  }
}

.user-black {
  fill: $white;

  path {
    fill: $black;
  }
}
