.wrapper {
  position: relative;
  width: 35.3rem;
  height: 4.2rem;
}

.input-box {
  width: 100%;
  height: 100%;
  padding: 0.8rem 1.2rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #a5a5a5;
  border: 0.1rem solid #999;
  border-radius: 0.8rem;
  outline: none;
}

.search-button {
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  cursor: pointer;
}
