.container {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 38.3rem;
  height: 34.6rem;
  padding: 2rem 3.15rem;
  border-radius: 1.6rem;
  background-color: $white;
  color: $black;
}

.month-year-select-wrapper {
  display: flex;
}

.arrow-left {
  rotate: 90deg;
}

.arrow-right {
  rotate: 270deg;
}

.month-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.weeks-wrapper {
  display: flex;
}

.week-text {
  @include flex-center;
  @include pretendard-14-400;

  width: calc(100% / 7);
}

.days-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  height: 70%;
  margin-top: 1rem;
  gap: 0.5rem;

  & > * {
    @include flex-center;
  }
}

.selected-day {
  width: 100%;
  border-radius: 100%;
  background-color: #4968f6;
  color: white;
}
