.wrapper {
  @include flex-column(4rem);

  width: 50.2rem;
  padding: 4rem;
  border-radius: 1.6rem;
  background-color: $white;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  width: 42.2rem;
}

.button-left {
  &:hover {
    border-color: $gray-20;
    background-color: $gray-20;
  }
}

.content-wrapper {
  @include flex-column(1.6rem);

  align-items: center;
  justify-content: center;
  min-height: 9.3rem;
}

.text-wrapper {
  @include pretendard-20-600;
  @include flex-column(0.2rem);

  text-align: center;
  white-space: pre-line;
}
