.container {
  padding: 12.8rem 12rem;
}

.page-name-wrapper {
  width: 100%;
}

.page-name {
  @include pretendard-30-700;

  margin-bottom: 2rem;
}

.filter-write-button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 9rem;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 44rem);
  gap: 10rem 3.3rem;
}
