.container {
  width: 100%;
  margin-bottom: 9rem;
  padding: 12.8rem 12rem 0;
  overflow: auto;
}

.page-name-wrapper {
  width: 100%;
}

.page-name {
  @include pretendard-30-700;

  margin-bottom: 2rem;
}
