.container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 6rem;
  padding: 4rem;
  border-radius: 3.2rem;
  background-color: $white;
}

.title {
  height: 2rem;
  margin-bottom: 8rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
