.inner {
  max-width: 168rem;
  height: 51.6rem;
  margin: 0 auto;
  padding: 0 12rem;
}

.keydeuk-best {
  padding: 20rem 0;
}

.title {
  @include pretendard-30-700;

  margin-bottom: 1.6rem;
  color: $black;
  text-align: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8rem 2.667rem;
}
