.suffix-icon {
  position: absolute;
  z-index: $zindex-fixed - 1;
  top: 50%;
  right: 1.6rem;
  transform: translateY(-50%);
}

.arrow-icon {
  pointer-events: none;
}

.chevron-icon {
  fill: $black;
}

.rotate {
  transform: rotate(180deg) translateY(70%);
}
