@mixin md {
  padding: 1rem 1.6rem;
  @include pretendard-16-400;
}

.default {
  width: 100%;
  border: 0.1rem solid #999;
  border-radius: 0.8rem;
  resize: none;

  &::placeholder {
    color: #a5a5a5;
  }
}

.md {
  @include md;
}
