.title-wrap {
  @include inner;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.6rem;
}

.list-section {
  @include flex-column(11rem);
  @include inner;

  margin-bottom: 10rem;
}
