.snb {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .snb-sections {
    display: flex;
    flex-direction: column;
    color: $black;
    gap: 1.6rem;

    &.snb-section-1 {
      @include pretendard-30-700;

      margin-bottom: 0.4rem;
    }

    .snb-category {
      @include pretendard-20-700;
    }

    .snb-items {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      .snb-item {
        @include pretendard-18-400;

        color: $gray-50;
      }
    }
  }
}
