.main-title {
  margin-top: 15rem;
  padding: 3rem 0;

  @include pretendard-20-700;
}

.review-container {
  margin-bottom: 10rem;
}

.review-items {
  margin-top: 5rem;
  border-top: 0.1rem solid $gray-10;
}

.no-review-text {
  color: $gray-30;

  @include pretendard-20-600;
}

.no-review-container {
  @include flex-column(2rem);

  align-items: center;
  margin-bottom: 25rem;
}
