.all-review-image {
  width: 22.8rem;
  height: 22.8rem;
  border: 0.1rem solid $gray-10;
  border-radius: 0.8rem;
  object-fit: cover;
}

.all-review-image-lists {
  display: flex;
  gap: 1.4rem;
  margin-bottom: 5rem;
}
